.user-counter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: px;
  gap: 10px;
  text-align: center;
}

.user-counter__total {
  font-weight: bold;
  text-transform: uppercase;
  width: fit-content;
}
