.main-header {
  display: flex;
  flex-direction: column;
  width: 580px;
  height: 80px;
  gap: 6px;
  border-radius: 50px 50px 13px 13px;
  margin: 20px;
}

.main-header__content {
  display: flex;
  align-items: center;
  padding: 4px 40px 4px 34px;
  gap: 16px;
}

.main-header__title {
  font-family: "bangers", system-ui;
  font-size: 3rem;
  letter-spacing: 6px;
  color: #2e2e2e;
}
