.form-user {
  width: 70%;
  font-family: sans-serif;
}

.form-control {
  display: flex;

  align-items: center;
  margin-bottom: 8px;
}

.form-control-check {
  margin-top: 8px;
  display: flex;
  transform: scale(2);
  justify-content: center;
}

.form-control label {
  width: 85px;
}

.form-control input {
  padding: 8px;
}

.btn {
  display: flex;
  justify-content: center;
  margin: 32px;
  transform: scale(1.2);
}
