.form-user {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.form-control {
  display: flex;
  align-items: flex-start;

  gap: 6px;
  padding: 8px;
}

.form-control-check {
  margin-top: 8px;
  display: flex;
  transform: scale(2);
  justify-content: center;
}

.form-control label {
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 116px;
  background-color: #fed132;
  height: 33px;
  border-radius: 8px;
  border: 1px solid black;
  font-weight: bold;
}

.form-control input {
  padding: 8px;
  border-radius: 8px;
}

.btn {
  display: flex;
  justify-content: center;
  margin: 32px;
  transform: scale(1.2);
  background-color: #fff;
  width: fit-content;
  background-color: #fed132;
}
